[submodule "nbi_data_access"]
	path = nbi_data_access
	url = https://github.com/rasmunk/nbi_data_access.git
[submodule "nbi_jupyter_notebook/nbi_data_access"]
	path = nbi_jupyter_notebook/nbi_data_access
	url = https://github.com/rasmunk/nbi_data_access.git
[submodule "nbi_jupyterhub/SwarmSpawner"]
	path = nbi_jupyterhub/SwarmSpawner
	url = https://github.com/rasmunk/SwarmSpawner.git
