sudo: required
services: docker
language: python
python: '3.6'
before_install:
- cd tests/sshfs-mounter
- sudo apt-get update
- sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
env:
  global:
  - IMAGE_NAME=nielsbohr/jupyterhub-sshfs-mounter
  - IMAGE_VERS=latest
  - secure: 5rB3RU1V3AyxZ5Yb1qLxb4Bl2ScfnKGaLQnxpl4p5pIjS7Z+Fa+zzM2TkdY9a4fkGa+okhRdSBPx/YS1sDx/Eo1fgw9mLDKJvWhzRE0dFExnqvNrnCVpQDasvygDw3Vwgsn2aTc57Qh/ADitjEdTR2l2rAUIRng2f0XtvsIUqmD5YCgxDE3SSiTPmlunn9GDqdWB6gWh+ou60yYsOva2UGjuFSHE93+IYKW8NwDztt+VEB+uZZ6PKAfBfv8irm2z3+vwOTsmcDAsc3587d4nMXdZgedEnBY+322BhzMlGRGu7JvMZSG6MiXGXfLJikaOOk4ldoeZZsNsI98+hiXNKvyyQ0myiAh4tEgjlhFtt/ORBNFDYxIKtAIB83lK6/lp7Cx9xhq936wsLxgZLP1xplwa0k+zmgVDkBsVqQe89XzlRIabGts1PsgchOg/VyE2FTQ/lUgDTYlojEUD/8E1R3n4NRg/CsHI+u/TcEF9oYUoCAfFHKgARX45ND4lv+nEJ4oTBtpF6wm5zpjTqHdr2GehcsgwShn3yANi+4lxDrba5YU+OLhMKLOVveYjn3kh1ArBp7RTenVRMJJa2BOnQE8H+vIavr84YQhzYWZu+4L5fe3h+ktm/PdcR60uNHCyE5a1TbuBLNngXLSMvhFMtPzUwiIl6XZaE4yUTVcI8TM=
  - secure: oGaa/r/gFMvqBI3vmoflMdU0rdOp7fmmU2M2Ae5geFJ0g8qg0V91YA0gWhuYSEaohBfGmAstq68O1nkkyACnmjhebbiOdAqt2fMQV/dYxqgkn0SNBRyTlekavWcEy7IGx6xXqzcZ6Wd3Sp2aApI6PP8ijxn9C4pLYlMp1Lmdzogy/3up6MHjHcn3RZSLRsAvmp3cd9Xhl4A9r44BAH7mD1c0hoNrZ/Q3RNYtZBKk8QSAkL3As4Oaoh01lcGOGFR5PsthEFPU8c40LvqKIf++mvkq6M1fW2h4pjZcev5kwRDJGsCb7y8P+7byEGYOA/KvFPdRWLitl9AmTEQ4Zj4oQxAhdXT+v95y0DB6eftFk1C9e0J0rWWa3CbotKJ8R8z2jwTQ2mRxPrEbE3zOKOzSfmf72fcZd53CI9puLiTBsfEqN3eI3PIWr+sjUO/17GAimYbyRj/HmYrfQ20y5yDfQ/SSxAYIWnvjzG2y2noIZcO8TK4njNtYpmU/O477lkNnt0NJuXqIx/G2P5yN+p/0ZELH36S/fmp7trvaogbho/H6+chdJWACDrd0xK9JjkHxgJkBaVwk+32loJ8ufOWHelmPyBaBZL5ASa+i35Ifl4d8NTTpO8ewYjt9Wqc8L0vKCwL/t62smfp2wK6Ue2K7e7oFjHLj9l7SEpwk64+fOXs=
install:
- pip install -r jupyterhub-sshfs-mounter/requirements.txt
script:
- flake8
before_deploy:
- docker build -t "${IMAGE_NAME}":latest .
deploy:
  provider: script
  script: bash docker_push
  on:
    branch: tests
notifications:
  slack: raz-s:se1PurXsQJv03nBZa9XWMOOS
